
/* general styling */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background-color: #567DA0;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: rgb(12, 53, 88);
    transition: font-size 400ms;
}

a:hover {

    font-size: 105%;
    transition-delay: 20ms;
    transition-timing-function: ease-out;
}

.flex {
    display: flex;
}



/* header and navbar content */

.header-wrapper,
.top-navigation,
.nav-list-items {
    display: flex;
    flex-direction: row;
}

.header-wrapper {
    border-bottom: solid 3px rgb(12, 53, 88);
    justify-content: center;
    width: 100%;
    max-height: 59px;
    background-color: white;
}

.top-navigation {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
    width: 70%;
    min-width: fit-content;
}

.logo,
.nav-list-items {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: bold;
}

.nav-list-items {
    gap: 2rem;
    justify-content: end;
    list-style: none;
    margin: 0%;
    padding: 0 0 0 4rem;
}

.nav-list-items > li {
    flex-shrink: 0;    
}

/* hero */

.hero-wrapper {
    justify-content: center;
    background-color: white;
    width: 100%;

}

.hero-container {
    width: 90%;
    position: relative;
    height: fit-content;
}

.hero-background {
    width: 100%;
    height: auto;  
}

.gradient-left {
    position: absolute;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    width: 20%;
    height: 100%;
}
.gradient-right {
    position: absolute;
    left: 80%;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    width: 20%;
    height: 100%;
}